.env
/tmp/**
**/__pycache__/*
**/*.egg-info
**/tmp/**
**/tests/**
**/*.csv
**/*.txt
**/.github
**/.parquet
tips.md
**/*cache**
**/notebooks/*
**/examples
**/position/*
!**/position/base.py
!**/position/__init__.py
